@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-rethink-sans), sans-serif;
}

body.hide-footer footer {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
